/* Chat Window Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}



/* ChatIcon.jsx css start */
/* Chat Container */
.chat-container {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    z-index: 999;
}

/* Chat Icon (Floating Button) */
.chat-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    cursor: pointer;
    box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.22);
}

/* Notification Badge */
.chat-notification-badge {
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Chat Window */
/* .chat-window-wrapper {
    display: none;
}

.chat-window-wrapper.open {
    display: block;
} */

/* ChatIcon.jsx css end */

/*  */
.chat-window {
    position: absolute;
    bottom: 60px;
    right: 0;
    max-width: 400px;
    width: 40vw;
    min-height: 150px;
    max-height: 450px;
    min-height: 300px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 2px 0px 5px 5px rgba(206, 206, 206, 0.2);
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
    z-index: 999;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chat-close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.chat-close-btn:hover {
    color: white;
}
.chat-messages {
    flex: 1;
    overflow-y: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 5px;
}

.message-container {
    display: flex;
    align-items: start;
    gap: 6px;
    font-family: "Nunito Sans", sans-serif;
}

.message-container.user {
    flex-direction: row-reverse;
    align-self: flex-end;
}

.message-container.other {
    flex-direction: row;
    align-self: flex-start;
}

.user-avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 4px;
}

.message-box {
    padding: 8px;
    border-radius: 8px;
    max-width: 75%;
    display: flex;
    flex-direction: column;
}

.message-box.user {
    background-color: #0d3f02b8;
}

.message-box.other {
    background-color: #01786f99;
}

.sender-name {
    margin-bottom: 9px;
    font-size: 12px;
}

.message-time {
    font-size: 9px;
    color: #aaa;
    margin-top: 3px;
    text-align: right;
    pointer-events: none;
    user-select: none;
}

.no-messages {
    text-align: center;
    color: #888;
    font-style: italic;
    height: 183px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-input-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 1rem;
}

.chat-input-container > form {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 5px;
}


.chat-input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: #333;
    color: white;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    transition: all 0.3s ease-in-out;
    outline: none;
    resize: none;
    max-height: 110px;
    overflow-y: auto;
    height: 40px;
    line-height: 1.3;
}

.chat-input:focus,
.chat-send-btn:focus {
    border-color: #555555;
}

.chat-send-btn {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    align-self: flex-end;
    transform: rotate(45deg);
    position: 'relative';
    padding: 5px 8px !important;
    background-color: #007f22;
    color: '#fff';
    transition: all 0.2s ease-in-out;
}

.chat-send-btn:hover {
    background-color: #02b431;
}