.canvasFreeDrawOverLay {
    width: 100%;
    height: 0;
    background-color: #1e1d1d59;
}

.canvasFreeDrawOverLay.open {
    height: 100vh;
}
.canvasFreeDrawContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: #fff;
    padding: 0 10px;
    color: #000;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.canvasFreeDrawContainer.open {
    height: 95vh;
}

.scrollTool {
    position: relative;
    top: -14px;
    left: calc(50% - 45px);
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #fff;
    padding: 4px 18px;
    border-radius:  0px 0px 35px 35px;
    font-size: 20px;
    padding-bottom: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.scrollTool.open {
    top: calc(95vh);
}

.scrollToolIcon {
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
}

.scrollToolIcon.open {
    transform: rotate(180deg);
}

.toolBar {
    display: flex;
    justify-content: center;
    position: relative;
}
.toolBtn {
    padding: 4px 10px;
    cursor: pointer;
    background-color: rgba(21, 0, 255, 0.089);
}

.toolBtn.activeTool {
    background-color: rgba(21, 0, 255, 0.33);
}

.toolSettingWrapper {
    position: relative;
}

.toolSettings {
    padding: 10px;
    background-color: #000;
    border-radius: 7px;
    color: #fff;
    position: absolute;
    top: -100px;
    right: 32px;
    z-index: 10;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    transition: all 0.3s ease-in-out;
}
.toolSettings.open {
    top: 30px;
}
.toolSettingRow {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.toolSettingRow select {
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
}

.strokeWidth-1 {
    font-size: 12px;
}

.strokeWidth-2 {
    font-size: 14px;
}

.strokeWidth-3 {
    font-size: 18px;
}
.strokeWidth-3 {
    font-size: 18px;
    font-weight: 600;
}

@media  screen and (max-width: 768px) {
    .scrollTool {
        left: 50%;
    }

    .scrollTool.open {
        top: calc(95vh - 20px);
    }

    .canvasFreeDrawContainer.open {
        height: 92vh;
    }
}