.connectedUserWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
}

.connectedUserWrapper span {
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.connectedUserName {
    font-size: 14px;
}

.connectedUserName span {
    font-size: 12px;
}