.connectedUsersWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 0.8rem;
}

.colorPicker {
    border: none;
    width: 25px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .menu-closed .connectedUsersWrapper {
        grid-template-columns: 1fr;
    }
    
}