.editor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-bottom: 16px;
}

.editor-language-select {
    padding: 5px;
    width: 120px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 7px;
}
.editor-language-select-option {
    padding: 5px;
    background-color: #fff;
    color: #000;
}
.editor-language-select-option.selected {
    background-color: rgb(20, 114, 247) !important;
    color: #fff !important;
}