.homePageWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  background-color: #2b2b2b;
  padding: 35px 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
}



.mainLabel {
  margin: 0 0 14px 10px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.inputGroup input {
  width: 96%;
  padding: 7px 5px;
  border-radius: 4px;
  outline: none;
  border: 2px solid transparent;
  font-size: 16px;
}

.inputGroup input:focus {
  border: 2px solid rgb(54, 97, 253);
}

.joinBtn {
  background-color: rgb(2, 181, 2);
  color: #fff;
  border: none;
  padding: 8px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 96%;
}

.joinBtn:hover {
  background-color: rgb(2, 140, 2);
}

.createInfo {
  font-size: 14px;
}
button {
  background: none;
  border: none;
}

.createInfo button {
  color: rgb(2, 181, 2);
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
}

.appFooter {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.appFooter a {
  color: rgb(0, 214, 0);
  text-decoration: none;
}

